{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

    <div class="container articles">
        <div class="articles__block">
        {% for article in pagination %}
            <article class="article">
                <div class="article__image">
                    <img src="{{ vich_uploader_asset(article, 'illuFile') }}" alt="Photo de l'article">
                </div>
                <p class="article__publication"><i class="visible fas fa-clock"></i> {{ article.publication ? article.publication|date('d-m-Y') : '' }}</p>
                <div class="article__description">
                    <p>{{ article.resume }}</p>
                </div>
                <div class="article__button"><a class="article__button--link" href="{{ path('article_show', {'id': article.id}) }}">LIRE LA SUITE <i class="visible fas fa-arrow-right"></i></a></div>
            </article>
        {% else %}
            <div>
                <p>Il n'y a aucun article pour le moment, repassez plus tard pour plus d'actualité !</p>
            </div>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        </div>
       
        <aside class="aside">
            <h2 class="aside__title">Retrouvez notre prochain événement :</h2>
            <div class="aside__content">
            {% for event in events %}
            <p class="aside__content--name">{{ event.name }}</p>
            <div class="aside__content--infos">
                <div>{{ event.date ? event.date|date('d-m-Y') : '' }}</div>
                <div>{{event.time ? event.time|date('H:i:s') : ''}}</div>
                <div>{{event.place}}</div>
            </div>
            <img class="aside__content--img" src="{{ vich_uploader_asset(event, 'illuFile') }}" alt="Photo de l'événement"/>
            <div class="aside__content--description">{{ event.description}}</div>
            
            {% endfor %}
            </div>
        </aside>
    </div>

{% endblock %}
