{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<div class="container solo">
    <h1 class="solo__title">{{ article.titre }}</h1>
    <p class="solo__publication">{{ article.publication ? article.publication|date('d-m-Y') : '' }}</p>
        <div class="article__solo">
            <div class="article__solo__image">
                <img class="img" src="{{ vich_uploader_asset(article, 'illuFile') }}" alt="Photo de l'article">
            </div>
            <div class="article__solo__content">
                <hr class="article__solo__line">
                <div class="article__solo__description">
                    {{ article.corps | raw }}
                </div>
            </div>
        </div>
    <a class="articles__list" href="{{ path('article_index') }}">Retour à la liste des articles</a>
</div>

{% endblock %}
