{% extends 'base.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block body %}

    <div class="container">
        <div class="responsable">
            <h1 class="responsable__title">RESPONSABLE DE SERVICE</h1>
            <div class="equipe">
                <div class="equipe__content">
                    <div class="equipe__image">
                        <img src="{{ vich_uploader_asset(equipe[0], 'photoFile') }}" class="equipe__img equipe__img--sadek" alt="Sadek DEGHIMA">
                    </div>
                    <div class="equipe__description">
                        <h4 class="equipe__name">{{ equipe[0].firstname}} {{equipe[0].lastname}}</h4>
                        <p>{{ equipe[0].phonenumber }}<br>{{ equipe[0].mail }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="equipe-educative">
            <h2 class="equipe-educative__title text-center">EQUIPE EDUCATIVE</h2>
            <div class="equipe-educative__content">
                <div class="harnes">
                    <h3 class="harnes__title">HARNES</h3>
                    <div class="harnes__content">
                        <div class="equipe">
                            <div class="equipe__content">
                                <div class="equipe__image">
                                    <img src="{{ vich_uploader_asset(equipe[1], 'photoFile') }}" class="equipe__img" alt="Myriam DERROUICHE">
                                </div>
                                <div class="equipe__description">
                                    <h4 class="equipe__name">{{ equipe[1].firstname}} {{equipe[1].lastname}}</h4>
                                    <p>{{ equipe[1].phonenumber }}<br>{{ equipe[1].mail }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="equipe">
                            <div class="equipe__content">
                                <div class="equipe__image">
                                    <img src="{{ vich_uploader_asset(equipe[2], 'photoFile') }}" class="equipe__img equipe__img--nordine" alt="Nordine LAGRAGUI">
                                </div>
                                <div class="equipe__description">
                                    <h4 class="equipe__name">{{ equipe[2].firstname}} {{equipe[2].lastname}}</h4>
                                    <p>{{ equipe[2].phonenumber }}<br>{{ equipe[2].mail }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="billy-sallaumines">
                    <h3 class="billy-sallaumines__title align-items-baseline">BILLY-MONTIGNY / SALLAUMINES</h3>
                    <div class="billy-sallaumines__content">
                        <div class="equipe">
                            <div class="equipe__content">
                                <div class="equipe__image">
                                    <img src="{{ vich_uploader_asset(equipe[3], 'photoFile') }}" class="equipe__img" alt="Yohan SARDO">
                                </div>
                                <div class="equipe__description">
                                    <h4  class="equipe__name">{{ equipe[3].firstname}} {{equipe[3].lastname}}</h4>
                                    <p>{{ equipe[3].phonenumber }}<br>{{ equipe[3].mail }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="equipe">
                            <div class="equipe__content">
                                <div class="equipe__image">
                                    <img src="{{ vich_uploader_asset(equipe[4], 'photoFile') }}" class="equipe__img" alt="Xavier HEINTZE">
                                </div>
                                <div class="equipe__description">
                                    <h4 class="equipe__name">{{ equipe[4].firstname}} {{equipe[4].lastname}}</h4>
                                    <p>{{ equipe[4].phonenumber }}<br>{{ equipe[4].mail }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="secretaire">
            <h2 class="secretaire__title">SECRETAIRE COMPTABLE</h2>
            <div class="equipe">
                <div class="equipe__content">
                    <div class="equipe__image">
                        <img src="{{ vich_uploader_asset(equipe[5], 'photoFile') }}" class="equipe__img" alt="Rabia BELAICHE">
                    </div>
                    <div class="equipe__description">
                        <h4 class="equipe__name">{{ equipe[5].firstname}} {{equipe[5].lastname}}</h4>
                        <p>{{ equipe[5].phonenumber }}<br>{{ equipe[5].mail }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}