{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

<div class="">
    <div class="ml-container container ">
        <h1>Mentions légales</h1>

        <h2 class="ml-title">Définitions</h2>
        <div class="content">
            <p><b>Client&nbsp;:</b>&nbsp;tout professionnel ou personne physique capable au sens des articles 1123 et suivants du Code civil, ou personne morale, qui visite le Site objet des présentes conditions générales.<br>
            <b>Prestations et Services&nbsp;:</b> <a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a> met à disposition des Clients&nbsp;:</p>

            <p><b>Contenu&nbsp;:</b>&nbsp;Ensemble des éléments constituants l’information présente sur le Site, notamment textes – images – vidéos.</p>

            <p><b>Informations clients&nbsp;:</b> Ci après dénommé «&nbsp;Information (s)&nbsp;» qui correspondent à l’ensemble des données personnelles susceptibles d’être détenues par <a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a> pour la gestion de votre compte, de la gestion de la relation client et à des fins d’analyses et de statistiques.</p>


            <p><b>Utilisateur :</b> Internaute se connectant, utilisant le site susnommé.</p>
            <p><b>Informations personnelles :</b> « Les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).</p>
            <p>Les termes «&nbsp;données à caractère personnel&nbsp;», «&nbsp;personne concernée&nbsp;», «&nbsp;sous traitant&nbsp;» et «&nbsp;données sensibles&nbsp;» ont le sens défini par le Règlement Général sur la Protection des Données (RGPD&nbsp;: n° 2016-679)</p>
        </div>

        <h2 class="ml-title">1. Présentation du site internet.</h2>
        <div class="content">
            <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet&nbsp;<a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a>&nbsp;l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:
            </p><p><strong>Propriétaire</strong> :  Association Avenir des Cités   – 19 bis rue des fusillés BP 40 62440 Harnes<br>
                            
            <strong>Responsable publication</strong> : Sadek DEGHIMA – club.d.cites@gmail.com<br>
            Le responsable publication est une personne physique ou une personne morale.<br>
            <strong>Webmaster</strong> : Sadek DEGHIMA – club.d.cites@gmail.com<br>
            <strong>Hébergeur</strong> : LWS – 2 rue Jules Ferry 88190 Golbey 01 77 62 30 03<br>
            <strong>Délégué à la protection des données</strong> : Sadek DEGHIMA – club.d.cites@gmail.com<br>
            </p>
        </div>

        
        <h2 class="ml-title">2. Conditions générales d’utilisation du site et des services proposés.</h2>
        <div class="content">
            <p>Le Site constitue une œuvre de l’esprit protégée par les dispositions du Code de la Propriété Intellectuelle et des Réglementations Internationales applicables. 
            Le Client ne peut en aucune manière réutiliser, céder ou exploiter pour son propre compte tout ou partie des éléments ou travaux du Site.</p>

            <p>L’utilisation du site&nbsp;<a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a>&nbsp;implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site&nbsp;<a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a>&nbsp;sont donc invités à les consulter de manière régulière.</p>

            <p>Ce site internet est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par <a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a>, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.
            Le site web&nbsp;<a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a>&nbsp;est mis à jour régulièrement par <a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a> responsable. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>
        </div>


        <h2 class="ml-title">3. Description des services fournis.</h2>
        <div class="content">
            <p>Le site internet&nbsp;<a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a>&nbsp;a pour objet de fournir une information concernant l’ensemble des activités de la société.
            <a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a> s’efforce de fournir sur le site&nbsp;<a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a>&nbsp;des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des oublis, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>

            <p>Toutes les informations indiquées sur le site&nbsp;<a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a>&nbsp;sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site&nbsp;<a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a>&nbsp;ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>
        </div>
        
        
        <h2 class="ml-title">4. Limitations contractuelles sur les données techniques.</h2>
        <div class="content">
            <p>Le site utilise la technologie JavaScript.

            Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour
            Le site <a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a> est hébergé chez un prestataire sur le territoire de l’Union Européenne conformément aux dispositions du Règlement Général sur la Protection des Données (RGPD&nbsp;: n° 2016-679)</p>

            <p>L’objectif est d’apporter une prestation qui assure le meilleur taux d’accessibilité. L’hébergeur assure la continuité de son service 24 Heures sur 24, tous les jours de l’année. Il se réserve néanmoins la possibilité d’interrompre le service d’hébergement pour les durées les plus courtes possibles notamment à des fins de maintenance, d’amélioration de ses infrastructures, de défaillance de ses infrastructures ou si les Prestations et Services génèrent un trafic réputé anormal.</p>

            <p><a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a> et l’hébergeur ne pourront être tenus responsables en cas de dysfonctionnement du réseau Internet, des lignes téléphoniques ou du matériel informatique et de téléphonie lié notamment à l’encombrement du réseau empêchant l’accès au serveur.</p>
        </div>


        <h2 class="ml-title">5. Propriété intellectuelle et contrefaçons.</h2>
        <div class="content">
            <p><a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a> est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, icônes et sons.
            Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : <a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a>.</p>

            <p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
        </div>


        <h2 class="ml-title">6. Limitations de responsabilité.</h2>
        <div class="content">
            <p><a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a> agit en tant qu’éditeur du site. <a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a> &nbsp;est responsable de la qualité et de la véracité du Contenu qu’il publie. </p>

            <p><a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a> ne pourra être tenu responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site internet <a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a>, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.</p>

            <p><a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a> ne pourra également être tenu responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site&nbsp;<a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a>.
            Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. <a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a> se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, <a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a> se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).</p>
        </div>

            
        <h2 class="ml-title">7. Droit applicable et attribution de juridiction.</h2>
        <div class="content">
            <p>Tout litige en relation avec l’utilisation du site&nbsp;<a href="http://www.avenirdescites.fr">http://www.avenirdescites.fr</a>&nbsp;est soumis au droit français. 
            En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Lens</p>
        </div>
    </div>
</div>

{% endblock %}