{% block footer %}

    <div class="reseaux">
        <p>Retrouvez-nous sur les réseaux sociaux</p>
        <div class="reseaux-sociaux">
            <a class="nav-item nav-link social" href="https://www.facebook.com/Avenirdescites/"><img src="{{ vich_uploader_asset(reseaux[0], 'logoFile') }}" alt="facebook" width="30" height="30" loading="lazy"></a>
            <a class="nav-item nav-link social" href="https://twitter.com/avenirdescites"><img src="{{ vich_uploader_asset(reseaux[1], 'logoFile') }}" alt="twitter" width="30" height="30" loading="lazy"></a>
            <a class="nav-item nav-link social" href="https://www.youtube.com/channel/UCbv5yCOkZkDfDf83PAORARw"><img src="{{ vich_uploader_asset(reseaux[2], 'logoFile') }}" alt="youtube" width="30" height="30" loading="lazy"></a>
        </div>
    </div>

    <div class="prefooter">
        <h2 class="prefooter__title">SERVICE DE PREVENTION SPECIALISEE</h2>
    </div>    
    
    <div class="footer text-center justify-content-center">
        <a class="nav-item nav-link mentions " href="{{ path('mentions') }}">Mentions légales<span class="sr-only"></span></a>
        <div class="siege-social">
            <p class="siege">{{ accueil[0].siegeSocial | raw }}</p>
        </div>
        <p class="footer__copyright">© 2020 avenirdescites.fr</p>
    </div>

{% endblock %} 