{% block header %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="top">
    <div class="logo">
        <a href="{{ path('home') }}"><img src="{{ vich_uploader_asset(accueil[0], 'logoFile') }}" width="110" height="110" class="d-inline-block align-top logo" alt="Logo d'Avenir des cités" loading="lazy"></a>
    </div>
    <div class="logo--mobile">
        <a href="{{ path('home') }}"><img src="../img/A_icon.svg" width="60" height="60" class="d-inline-block align-top logo--mobile" alt="Logo d'Avenir des cités" loading="lazy"></a>
    </div>
        <div class="media__content">
            <p class="media__reseaux text-center">Retrouvez-nous sur les réseaux sociaux</p>
            <div class="media nav justify-content-around">
            {% for reseau in reseaux %}
                <a class="nav-item nav-link social" href="{{ reseau.url }}"><img src="{{ vich_uploader_asset(reseau, 'logoFile') }}" alt="Logo des réseaux sociaux" width="30" height="30" loading="lazy"></a>
            {% endfor %}
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mobile" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <div class="img__navbar">
                    <img src="{{ vich_uploader_asset(accueil[0], 'logoFile') }}" width="70" height="70" class="img__nav" alt="Logo d'Avenir des cités" loading="lazy">
                </div>
                <a class="nav-item nav-link active navbar-item" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link navbar-item" href="{{ path('presentation') }}">Présentation</a>
                <a class="nav-item nav-link navbar-item" href="{{ path('equipe') }}">L'équipe éducative</a>
                <a class="nav-item nav-link navbar-item" href="{{ path('article_index') }}">Actualité</a>
                <a class="nav-item nav-link navbar-item" href="{{ path('partenaires') }}" tabindex="-1">Nos partenaires</a>
            </div>
        </div>
    </nav>
    <div class="container-header"></div>
    <div id="scrollUp" class="scroll">
        <a href="#top"><img class="scroll__icon" src="../img/chevron.svg" alt="Bouton de scroll"/></a>
    </div>

{% endblock %}