{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block body %}
    <p>Un email contenant un lien pour modifier votre mot de passe vient de vous être envoyé. Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>
    <p>Si vous ne recevez pas d'email, veuillez vérifier les spams de votre boîte mail ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
