{% apply inline_css %}
<style>
.mail__title {
    text-align: center;
    color: #28A745;
    margin: 20px auto;
}
.mail__header {
    width: auto;
    height: 100px;
    background: linear-gradient(.25turn, #37A94A 34.9%, #97C83E 100% );
}
.mail__footer{
    width: auto;
    height: 100px;
    background: linear-gradient(.25turn, #37A94A 34.9%, #97C83E 100% );
}
.mail__body{
    margin: 100px auto;
}
.mail__message{
    margin: 50px 50px;
}
</style>
    <div class="mail">
        <header class="mail__header"></header>
    <div class="mail__body">
    <h1 class="mail__title">Votre demande de récupération de mot de passe</h1>
        <div class="mail__message">
            <p>
                Pour modifier votre mot de passe, suivez ce lien
                <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">ici</a><br/>
                Celui-ci expirera dans {{ tokenLifetime|date('g') }} heure(s)
            </p>
            </div>
        </div>
    </div>
     <footer class="mail__footer"></footer>
{% endapply %}