{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="reset__password">
        <h1 class="reset__password__title">Réinitialisation du mot de passe</h1>
    <div class="reset__password__form">      
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <p class="reset__password__form--message">
                Entrez votre adresse email et nous vous enverrons un lien vous permettant de réinitialiser votre mot de passe
            </p>
           
        </div>

        <button class="btn btn-primary reset__password__btn">Envoyer le mail</button>
         <div>
                <a href="{{ path('app_login') }}" class="reset__password__form--back-to-login">Retour à la page de connexion</a>
        </div>
    {{ form_end(requestForm) }}
    </div>
{% endblock %}