@import "~bootstrap/scss/bootstrap";
@import "../fontawesome/fontawesome.scss";
@import "../fontawesome/solid.scss";
@import "base";

@import "layouts/navbar";
@import "layouts/footer";
@import "layouts/front-image";
@import "layouts/front-directeurs";
@import "layouts/front-body";
@import "layouts/equipe";
@import "layouts/partenaires";
@import "layouts/articles";
@import "layouts/article";
@import "layouts/mentionslegales";
@import "layouts/presentation";
@import "layouts/pagination";
@import "layouts/login";
@import "layouts/reset-password";

* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    background: linear-gradient(.25turn, #37A94A 34.9%, #97C83E 100% );
    height: 20px;
}

.container {
    background-color: white;
    margin-top: 30px;
    text-align: center;
}
