.solo {
    margin-bottom: 60px;
    padding: 0 30px;

    &__title {
        font-size: 20px;
    }

    &__publication {
        margin-bottom: 40px;
        color: $navtext-color;
    }
} 

.article__solo {
    &__image .img {
        width: 100%;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__description {
        margin: 30px 0;
        width: 100%;
        text-align: left;
    }
}

.articles__list {
    margin: 0 auto;
    color: $navtext-color;
    font-weight: bold;

    &:hover {
        color: $navtext-color-hover;
        text-decoration: none;
    }
}

@media screen and (min-width: 990px) {
    .solo__title {
        font-size: 24px;
    }

    .article__solo {
        &__image .img {
            width: 900px;
        }

        &__line {
            display: block;
            height: 3px;
            background: linear-gradient(.25turn, #37A94A 34.9%, #97C83E 100% );
            transform: rotate(90deg);
            width: 10%;
        }

        &__description {
            margin: 60px 0;
            text-align: left;
        }
    }
}