//EQUIPE
// .container-fluid {
//     background: linear-gradient(.25turn, #37A94A 34.9%, #97C83E 100% );
//     height: 20px;
// }

// .container {
//     background-color: white;
//     margin-top: 30px;
//     text-align: center;
// }

.responsable, .equipe-educative, .secretaire {
    margin-bottom: 70px;
}

.harnes__title, .billy-sallaumines__title {
    margin: 40px 0 40px 0;
}

.responsable__title, .equipe-educative__title, .secretaire__title {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}

.equipe__description, .equipe__name {
    font-size: 16px;
}

.equipe__name {
    color: $navtext-color;
    font-weight: bold;
}

.harnes__title, .billy-sallaumines__title {
    font-size: 18px;
    font-weight: bold;
}

.equipe__image {
    margin: 10px 0 20px 0;
}

.equipe__img {
    width: 120px;
    height: auto;

    &--sadek, &--nordine {
        width: auto;
        height: 160px;
    }
}

@media screen and (min-width: 990px) {
    .equipe-educative__content {
        display: flex;
        justify-content: center;
    }

    .harnes, .billy-sallaumines {
        margin: 0 100px;
    }

    .responsable {
        margin-top: 80px;
    }

    .responsable__title, .secretaire__title {
        margin-bottom: 40px;
    }

    .equipe__description {
        margin-bottom: 40px;
    }

    .billy-sallaumines__title {
        width: 222px;
    }

    .harnes__title {
        padding: 10px 0;
    }
}