.prefooter {
    display: none;
}

.reseaux {
    text-align: center;
    margin-top: 30px;
}

.reseaux-sociaux {
    display: flex;
    justify-content: center;
}

.siege-social {
    display: none;
}

.footer {
    background: linear-gradient(.25turn, #37A94A 34.9%, #97C83E 100% );
    margin-top: 30px;
}

.footer .nav-link {
    color: white;

    &:hover {
        color: black;
        text-decoration: none;
    }
}

.footer__copyright {
    margin: 0;
}

@media screen and (min-width: 990px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around !important;
        align-items: center;
        padding: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .mentions{
        color: black;

        &:hover {
            color: white;
        }
    }  

    .siege-social {
        display: block;
        font-size: 12px !important;
        margin-bottom: 0;
    }

    .footer__copyright {
        margin-bottom: 0;
    }

    .prefooter {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        background: no-repeat center/100% url("../../../public/img/footer.jpg");
        margin-bottom: -10px;

        &__title {
            color: #97C83E;
            font-size: 50px;
            font-weight: bold;
            -webkit-text-stroke: 2px;
            -webkit-text-stroke-color: #FFF;
        }
    }

    .reseaux {
        display: none;
    }
}