//BLOC DIRECTEURS
.directeurs {
    margin: 15px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
        margin: 10px auto;
        padding-bottom: 20px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        width: 150px;
        height: auto;
    }
}

.uppercase {
    text-transform: uppercase;
}

@media screen and (min-width: 990px) {
    .directeurs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;

        &__image {
            margin: 0 20px;
        }
    }

    .directeur--left, .directeur--right {
        display: flex;
        align-items: center;
    }

    .directeur--right {
        flex-direction: row-reverse;
    }
}

//Button équipe
.equipe__button {
    background-color: $navtext-color;
    width: 200px;
    height: auto;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 60px;

    &__link {
        color: black;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}