// LISTE A PUCES
.liste {
    list-style: none;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    margin-bottom: 30px;
}

.puces {
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 150px;
    
    &:before {
        display: block;
        content: ' ';
        background-image: url(../../../public/img/puce.png);
        background-size: 12px 12px;
        height: 12px;
        width: 12px;
        margin-right: 12px;
    }
}

@media screen and (min-width: 990px) {
    .liste {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 20px;
        width: 100%;
        padding-bottom: 50px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .puces {
        width: 200px;

        &:before {
            margin-right: 20px;
        }
    }
}

//OBJECTIFS 3BLOCS
.objectifs {
    margin: 15px 0;

    &__arg {
        margin: 20px 0;
    }
}

@media screen and (min-width: 485px) {
    .objectifs {
        &__title {
            width: 80%;
            margin: 0 auto;
        }
    }

}

@media screen and (min-width: 990px) {
    .objectifs {
        margin-bottom: 30px;

        &__title {
            margin-bottom: 30px;
        }

        &__args {
            display: flex;
            justify-content: space-around;
        }

        &__arg, &__arg--last {
            width: 300px;
            height: auto;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}

//MODES D'INTERVENTION

.preschema {
    font-style: italic;
    margin-bottom: 30px;
}

.container__schema {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interventions {
    text-align: center;
    margin: 20px 15px 30px 15px;

    &__logo {
        display: none;
    }
}

.intervention {
    &__title {
        text-decoration: underline;
        font-weight: bold;
        color: $navtext-color; 
    }

    // &__picto--boussole {
    //     padding-bottom: 10px;
    // }

    // &__picto--boussole, &__picto--info {
    //     padding-right: 8px;
    // }

    // &__picto--info {
    //     padding-top: 5px;
    // }
}

.picto {
    // border: 3px solid $navtext-color;
    // width: 60px;
    // height: 60px;
    // border-radius: 50%;
    margin: 20px auto;
}

.ligne {
    display: none;
}

@media screen and (min-width: 990px) {
    .preschema {
        margin-bottom: 60px;
    }

    .interventions {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 0px;

        &__logo {
            display: block;
            border: 5px solid $navtext-color;
            border-radius: 50%;
            width: 140px;
            height: 140px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
        }

        &--left {
            margin-right: 10px;
        }

        &--right {
            margin-left: 10px;
            width: 500px;
        }
    }

    .interventions--left .intervention {
        flex-direction: row-reverse;
    }

    .interventions__logo p {
        font-size: 11px;
    }

    .intervention {
        width: 450px;
        display: flex;
        align-items: center;

        &--firstchild {
            padding-bottom: 30px;
            padding-top: 10px;
        }

        &--left--secondchild {
            margin-top: 15px;
            margin-bottom: 10px;
        }

        &__picto {
            padding-top: 10px;
        }

        &__text {
            color: $navtext-color;
        }
    }

    .ligne {
        display: block;
        height: 1px;
        background: linear-gradient(.25turn, #37A94A 34.9%, #97C83E 100% );

        &--up--left {
            width: 120px;
            transform: rotate(205deg);
            margin-top: 60px;
        }

        &--up--right {
            width: 100px;
            transform: rotate(-25deg);
            margin-top: 70px;
        }

        &--middle--left {
            width: 80px;
            transform: rotate(180deg);
        }

        &--middle--right {
            width: 80px;
        }

        &--down--left {
            width: 120px;
            transform: rotate(145deg);
            margin-bottom: 70px;
        }

        &--down--right {
            width: 120px;
            transform: rotate(35deg);
            margin-bottom: 70px;
        }
    }

    .picto {
        margin: 0 20px;
    }
}
