.presentation {
    padding: 15px 0;
    background: linear-gradient(.25turn, #37A94A 34.9%, #97C83E 100% );

    &__image {
        background: no-repeat center/100% url("../../../public/img/people.jpg");
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.card {
    background-color: rgba(196, 196, 196, 0.5);
    width: 372px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.card-title {
    text-align: center;
    color: #97C83E;
    font-weight: bold;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #FFF;
}     

.card-text {
    color: black;
}

@media screen and (min-width: 990px) {
    .presentation {
        padding: 20px 0;

        &__image {
            height: 420px;
            justify-content: end;
        }
    }

    .card {
        background-color: rgba(196, 196, 196, 0.5);
        border: none;
        border-radius: 10px;
        width: 19rem;
        font-size: 16px;
        margin-right: 20px;
    }

    .card-text {
        color: white;
    }
}