.login {
    margin: 150px auto;
    width: 80%;
    height: auto;
}



.login__btn {
    background-color: $navtext-color !important;
    border: none;
    margin: 15px auto;
    color: #07311f;
    font-weight: bold;
    width: 7.8rem;
    height: 3.6rem;
    font-size: 1rem;
    border-radius: 10px;
    display: block;
    text-align: center;
}

.forgot_password {
    font-style: italic;
    display: block;
    text-align: center;
    color: $navtext-color;

    &:hover{
        color: $navtext-color-hover;
        text-decoration: none;
    }
}


@media screen and (min-width: 990px){
    .login__form {
        width: 40%;
        margin: 0 auto;
    }
}