.ml-container{
   padding: 50px;
   text-align: left;

   h1{
       text-align: center;
       padding: 20 0;
   }

    .ml-title{
       font-size : 22px;
   }

    .content{
    padding: 20px;
    font-size: 14px;
    }
}

